<ion-header>
        <ion-navbar color="primary">
                <ion-title>Phone numbers</ion-title>
        </ion-navbar>
</ion-header>
<ion-content>        
        <ion-list-header>component functionalities</ion-list-header>
        <ion-list>
                <ion-item>Display all user phone numbers in a list</ion-item>
                <ion-item>Allow user to add new number and verify</ion-item>
                <ion-item>Show is number verified or not</ion-item>
                <ion-item>Display carrier icon beside number</ion-item>
                <ion-item>When clicked on, displays all transactions using this number, and carrier rates on another
                        segment
                </ion-item>
                <ion-item>Add "Primary" badge to the default number</ion-item>
        </ion-list>
</ion-content>