<ion-content>
        <ion-fab bottom right>
                <button ion-fab>
                        <ion-icon name="people"></ion-icon>
                </button>
        </ion-fab>

        <ion-grid no-padding>
                <ion-row justify-content-around>
                        <ion-col no-padding>
                                <ion-card>
                                        <ion-card-content>
                                                <ion-note style="float:right">
                                                        <ion-icon name="more"></ion-icon>
                                                </ion-note>
                                                <img src="assets/images/avatars/a1.jpg"/>
                                                <h2>John, Jackson</h2>
                                                <ion-note>Active 2 days ago</ion-note>
                                                <hr>
                                                <ion-note class="participants">Jacky Richard, Master Minder, Wonder
                                                        Winder
                                                </ion-note>
                                        </ion-card-content>
                                </ion-card>
                        </ion-col>
                        <ion-col>
                                <ion-card>
                                        <ion-card-content>
                                                <ion-note style="float:right">
                                                        <ion-icon name="more"></ion-icon>
                                                </ion-note>
                                                <img src="assets/images/avatars/a1.jpg"/>
                                                <h2>Beer Mentor</h2>
                                                <ion-note>Active 2 days ago</ion-note>
                                                <hr>
                                                <ion-note class="participants">Jacky Richard, Master Minder, Wonder
                                                        Winder
                                                </ion-note>
                                        </ion-card-content>
                                </ion-card>
                        </ion-col>
                </ion-row>
                <ion-row justify-content-around>
                        <ion-col no-padding>
                                <ion-card>
                                        <ion-card-content>
                                                <ion-note style="float:right">
                                                        <ion-icon name="more"></ion-icon>
                                                </ion-note>
                                                <img src="assets/images/avatars/a1.jpg"/>
                                                <h2>John, Jackson</h2>
                                                <ion-note>Active 2 days ago</ion-note>
                                                <hr>
                                                <ion-note class="participants">Jacky Richard, Master Minder, Wonder
                                                        Winder
                                                </ion-note>
                                        </ion-card-content>
                                </ion-card>
                        </ion-col>
                        <ion-col>
                                <ion-card>
                                        <ion-card-content>
                                                <ion-note style="float:right">
                                                        <ion-icon name="more"></ion-icon>
                                                </ion-note>
                                                <img src="assets/images/avatars/a1.jpg"/>
                                                <h2>Beer Mentor</h2>
                                                <ion-note>Active 2 days ago</ion-note>
                                                <hr>
                                                <ion-note class="participants">Jacky Richard, Master Minder, Wonder
                                                        Winder
                                                </ion-note>
                                        </ion-card-content>
                                </ion-card>
                        </ion-col>
                </ion-row>
                <ion-row justify-content-around>
                        <ion-col no-padding>
                                <ion-card>
                                        <ion-card-content>
                                                <ion-note style="float:right">
                                                        <ion-icon name="more"></ion-icon>
                                                </ion-note>
                                                <img src="assets/images/avatars/a1.jpg"/>
                                                <h2>John, Jackson</h2>
                                                <ion-note>Active 2 days ago</ion-note>
                                                <hr>
                                                <ion-note class="participants">Jacky Richard, Master Minder, Wonder
                                                        Winder
                                                </ion-note>
                                        </ion-card-content>
                                </ion-card>
                        </ion-col>
                        <ion-col>
                                <ion-card>
                                        <ion-card-content>
                                                <ion-note style="float:right">
                                                        <ion-icon name="more"></ion-icon>
                                                </ion-note>
                                                <img src="assets/images/avatars/a1.jpg"/>
                                                <h2>Beer Mentor</h2>
                                                <ion-note>Active 2 days ago</ion-note>
                                                <hr>
                                                <ion-note class="participants">Jacky Richard, Master Minder, Wonder
                                                        Winder
                                                </ion-note>
                                        </ion-card-content>
                                </ion-card>
                        </ion-col>
                </ion-row>
        </ion-grid>
</ion-content>