<ion-header>
        <ion-navbar color="primary">
                <button ion-button menuToggle>
                        <ion-icon name="menu"></ion-icon>
                </button>
                <ion-title>Notification Settings</ion-title>
        </ion-navbar>
</ion-header>
<ion-content>
        <ion-list>
                <ion-item>
                        <ion-label>Vibrate</ion-label>
                        <ion-toggle item-right color="primary" checked="true"></ion-toggle>
                </ion-item>
                <ion-item>
                        <ion-label>Sound</ion-label>
                        <ion-toggle item-right color="primary" checked="true"></ion-toggle>
                </ion-item>
                <ion-item>
                        <ion-label>Light</ion-label>
                        <ion-toggle item-right color="primary" checked="true"></ion-toggle>
                </ion-item>
                <ion-item>
                        <h2>Nofification Sound</h2>
                        <small><ion-note>Cool breeze</ion-note></small>
                </ion-item>                
                <ion-item>
                        <h2>Email</h2>                        
                        <ion-icon item-right color="primary" name="arrow-dropdown"></ion-icon>
                </ion-item>               
                <ion-item>
                        <h2>SMS</h2>                        
                        <ion-icon item-right color="primary" name="arrow-dropdown"></ion-icon>
                </ion-item>              
                <ion-item>
                        <h2>Push Notifications</h2>                        
                        <ion-icon item-right color="primary" name="arrow-dropdown"></ion-icon>
                </ion-item>
        </ion-list>

        <ion-list-header>
                Email (email above expanded)
        </ion-list-header>
        <ion-list>
                <ion-item>
                        <ion-label>Payment Recieved</ion-label>
                        <ion-toggle item-right color="primary" checked="true"></ion-toggle>
                </ion-item>
                <ion-item>
                        <ion-label>Payment Sent</ion-label>
                        <ion-toggle item-right color="primary" checked="true"></ion-toggle>
                </ion-item>
                <ion-item>
                        <ion-label>Friends Payment</ion-label>
                        <ion-toggle item-right color="primary" checked="true"></ion-toggle>
                </ion-item>
                <ion-item>
                        <ion-label>Purchases</ion-label>
                        <ion-toggle item-right color="primary" checked="true"></ion-toggle>
                </ion-item>
        </ion-list>
</ion-content>