<ion-footer>
    <p>find and extend custom keyboards</p>
    <p class="above-textarea">
        <ion-icon item-left name="keypad"></ion-icon>
        <ion-icon item-left name="camera"></ion-icon>
        <i item-left class="fa fa-wifi" aria-hidden="true"></i>
        <ion-icon item-left name="mic"></ion-icon>
        <ion-icon item-left name="done-all"></ion-icon>
        <ion-icon item-left name="social-usd"></ion-icon>
        <ion-icon item-left name="done"></ion-icon>
    </p>
    <ion-item class="textarea-wrapper" no-padding>
        <ion-textarea type="text" placeholder="Write a message..."></ion-textarea>
        <ion-icon item-right name="camera"></ion-icon>
        <ion-icon item-right name="send" color="primary"></ion-icon>
    </ion-item>
</ion-footer>
<!--
    <chatbox>
        <chatbox-text>
            <chatbox-emoji item-left></chatbox-emoji>
        </chatbox-text>        
        <chatbox-camera></chatbox-camera>
        <chatbox-speech2text></chatbox-speech2text>
        <chatbox-voice></chatbox-voice>
        <chatbox-emoji></chatbox-emoji>
        <chatbox-payment></chatbox-payment>
        <chatbox-attachment></chatbox-attachment>
        <chatbox-gallery></chatbox-gallery>
    </chatbox>
-->